@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #2b3440 white;
}

html::-webkit-scrollbar {
  width: 1vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #1f2937;
}

html::-webkit-scrollbar-track {
  background-color: whitesmoke;
}